@model Hospital.Models.Doctor

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white-50">Remove</h2>
                </hr>
            </div>
        </div>
    </div>
</div>
<div class="card-body p-4">
    <form method="post">
        <input asp-for="Id" hidden />

        @*<div asp-validation-summary="All"></div>@*commenting*@
        <div class="bg-gradient mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" disabled class="text-danger"></span>
        </div>
        <div class="bg-gradient mb-3 row p-1">
            <label asp-for="Specialisation" class="p-0"></label>
            <input asp-for="Specialisation" class="form-control" />
            <span asp-validation-for="Specialisation" disabled class="text-danger"></span>
        </div>
        <div class="bg-gradient mb-3 row p-1">
            <label asp-for="Hospital" class="p-0"></label>
            <input asp-for="Hospital" class="form-control" />
            <span asp-validation-for="Hospital" disabled class="text-danger"></span>
        </div>
        <div class="bg-gradient mb-3 row p-1">
            <label asp-for="Fees" class="p-0"></label>
            <input asp-for="Fees" class="form-control" />
            <span asp-validation-for="Fees" disabled class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-outline-primary border form-control">Delete Record</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Doctor" asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>






